AUTH0_DOMAIN=your-auth0-domain.auth0.com
AUTH0_AUDIENCE=your-api-identifier
AUTH0_ALGORITHMS=RS256

POSTGRES_DB=my_custom_db
POSTGRES_USER=my_user
POSTGRES_PASSWORD=super_secret_password
POSTGRES_PORT=5433
